.size {
    height: 20px;
    width: 20px;
  }
  [app-size] {
    width: 35%;
  }

  [data-tasks] {
    background-color: whitesmoke 7 !important;
    height: 500px !important;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
  }
  .bg-done {
    border: 0px !important;
    background-image: url("../img/done.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cursor-pointer {
    cursor: pointer;
  }